@import '../../mixins.scss';

.btn{
    @include clear-default;
    margin: 10px;
    min-width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    height: 46px;
    border: 3px solid transparent;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    cursor: pointer;
    @media screen and (max-width: 550px){
        padding-left: 0;
        padding-right: 0;
        max-width: 45%;
        font-size: 16px;
        margin: 3px;
    }
    &.btn-load{
        border-color: $load-color;
        &:hover{
            background-color: $load-color;
            transition: 200ms;
        }
    }
    &.btn-clear{
        border-color: $clear-color;
        &:hover{
            background-color: $clear-color;
            transition: 200ms;
        }
    }
    &.btn-group{
        border-color: $group-color;
        &:hover{
            background-color: $group-color;
            transition: 200ms;
        }
    }
    &:active{
        border-color: black;
    }
}