.App{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    @media screen and (max-width: 550px) {
        flex-direction: column;
    }
}
.search__buttons{
    margin-left: 10px;
    @media screen and (max-width: 550px) {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-left: 0;
    }
}